# Include ssh_config
Include config.d/*
Include ~/.config/aux/ssh/config.d/*.config

Match host *
  AddKeysToAgent yes
  ControlMaster auto
  ControlPath ~/.ssh/sock-%C
  ControlPersist 1400m
  SendEnv COLORTERM
  SendEnv LC_COLORTERM
  SendEnv LC_USER_COLORTERM
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/auth_rsa

Match host github.com,gh
  User git

Match host pfeffer.technodabble.com,pf,eth.technodabble.com,eth
  ForwardAgent yes
  User pepper

Match host 192.168.4.3
  User pepper

Host gh
  HostName github.com

Host pf
  Hostname pfeffer.technodabble.com

Host eth
  Hostname eth.technodabble.com

Host td
  Hostname ssh.technodabble.com
